      <% include common/_head %>
      <!-- とりあえずコネクション周りは残しておく -->
      <% include common/_userInfo %>
      <% include common/_socket %>

  <body>
    <% include common/_function %>
    <% include common/_fabric %>
    <% include common/_other_pdf_info %>
    <script>
      window.addEventListener('load',function(){
        let div_limit = document.getElementById('div_limit');
        div_limit.style.display='none';
      })
    </script>
  </body>
</html><!DOCTYPE html></html>