<% include common/_head %>

<body>
    <div class="container">
        <div class="row">
            <dvi class="col col-sm-8 mx-auto">
                <div class="row">
                    <h2> ログインフォーム </h2>
                </div>
                <div class="row">
                    <div class="login">
                        <form action='/login' method='post'>
                            <div>
                                <input id='name' type='text' name='userName' placeholder='ユーザ名'>
                            </div>
                            <div>
                                <input id='password' type='text' name='passWord' placeholder='パスワード'>
                            </div>
                            <div>
                                <button id='login' type='submit' value='Login'>ログイン</button>
                            </div>
                        </form>
                    </div>
            </dvi>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <p>
                    <table border="1">
                        <tr>
                            <th>ユーザ名</th>
                            <th>パスワード</th>
                        </tr>
                        <tr>
                            <th>学籍番号</th>
                            <th style="color:red;">今は使用ので不要</th>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>

</body>

</html>