    <% include common/_head %>
    <% include common/_socket %>
</head>

<body>
    <form action='/login' method='post'>
        <input id='name' type='text' name='userName' placeholder='ユーザ名'>
        <input id='password' type='text' name='passWord' placeholder='パスワード'>
        <button id='login' type='submit' value='Login'>ログイン</button>
    </form>
    <div>
        <p>

            <table border="1">
                <tr>
                    <th>ユーザ名</th>
                    <th>パスワード</th>
                </tr>
                <tr>
                    <th>学籍番号</th>
                    <th style="color:red;">今は使用ので不要</th>
                </tr>
            </table>
        </p>
    </div>

<script>

    let myIP = '';
    $('#login').click(function () {
        var name = $('#name').val();
        sendUserName(name, myIP);
    });

</script>
</body>

</html>