<!DOCTYPE html> 
<html lang="ja">
<head>
    <% include common/_head %>
</head>
<body>
    <% var array %>
    <form method="post" action='/main'>
        <% array.forEach(function(value,key){ %>
            <input type="submit" name='pdfname' value=<%= value %> >
        <% }) ;%>
    </form>
    <a href='/main/upload/' type='submit'>アップロード</a>

</body>
</html>