<!DOCTYPE html> 
<html lang="ja">
<head>
    <% include common/_head %>
</head>
<body>
    <% var array %>
    <form method="post" action='/main'>
        <% array.forEach(function(value,key){ %>
            <input type="submit" name='pdfname' value=<%= value %> >
        <% }) ;%>
    </form>
    <form method="post" action="/pageTrans">
        <input type='hidden' name='userName' value=<%= userName %>>
        <input type="submit" value='アップロード'>
    </form>
    <form method="post" action="/repMenu">
        <input type='hidden' name='userName' value=<%= userName %>>
        <input type="submit" value='リプレイ'>
    </form>

</body>
</html>