  <% include common/_head %>
  <!-- とりあえずコネクション周りは残しておく -->
  <% include common/_userInfo %>
  <% include common/_socket %>
</head>

<body>
  <% include common/_function %>
  <% include common/_fabric %>
  <main class='nav'>
  <div class="container">
    <!-- https://www.tagindex.com/html5/form/input_time.html
        https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Date
        https://www.tagindex.com/html5/form/input_datetime_local.html -->
    <input type='text' id='getname' placeholder='ユーザ名をカンマ区切りで入力'>
    <input type='datetime-local' id='replay-start-time' placeholder='開始時刻' autocomplete="on" step='1' required>
    <input type="range" id="replay-time-range" value="0" min="0" max="3600" step='1'>
    <!-- https://beiznotes.org/input-range-show-value/ -->
    <input type='datetime-local' id='replay-end-time' placeholder='終了時刻' autocomplete="on" step='1' required>
    <input type='submit' id='getReplayDatas' value='データ取得' class="btn btn-primary" >
    <input type='button' value='任意のタイミングで取得' id='highlight' class="btn btn-primary" >
    <div>
      <input type='datetime-local' id='timer' step='1'>
    </div>
  </div>
  </main>
  <script>
    window.addEventListener('load', function () {
      let text = $f('picker'),
        penSize = $f('penSize');
      select = $f('select');
      draw = $f('draw');
      clearButton = $f('clear-button');
      eraser = $f('eraser');
      pentab = $f('pentab');
      selecttab = $f('selecttab');
      erasetab = $f('erastab');
      div_limit = $f('div_limit');
      canvas_wrapper = $f('canvas-wrapper');
      timer_range = $f('replay-time-range');
      timer = $f('timer');
      highlight = $f('highlight');
      names = $f('getname');

      penSize.style.display = 'none';
      text.style.display = 'none'; 
      select.style.display = 'none';
      draw.style.display = 'none';
      // clearButton.style.display = 'none';
      eraser.style.display = 'none';
      pentab.style.display = 'none';
      selecttab.style.display = 'none';
      erasetab.style.display = 'none';
      canvas_wrapper.style.display = 'none';
      timer_range.style.display = 'none';
      timer.style.display = 'none'
      highlight.style.display = 'none';
      if (getUserName() !== 'teacher') {
        div_limit.style.display = 'none';
        names.style.display = 'none'
      }
      /*
      * 参考
      * https://www.tagindex.com/html5/form/input_datetime_local.html
      */
      $f('getReplayDatas').addEventListener('click', (e) => {
        Canvas.isDrawingMode = false;
        console.log(Date.parse($('#replay-start-time').val()));
        timer_range.min = parseInt(Date.parse(($('#replay-start-time').val())));
        timer_range.max = parseInt(Date.parse(($('#replay-end-time').val())));

        getData(timer_range.min,timer_range.max,$('#name').val());
        canvas_wrapper.style.display = 'block';
        timer_range.style.display = 'inline';
        timer.style.display = 'inline-block'
        timer.value = $('#replay-start-time').val();
        if(getUserName() === 'teacher'){
          highlight.style.display = 'inline-block';
        }
      });
      timer_range.onchange = function (e) {
        //rangeのvalueはstring型
        timer.value = getNowTime(parseInt(this.value));

        replayView(parseInt(this.value));
      }
      timer_range.oninput = function (e) {
        //rangeのvalueはstring型
        timer.value = getNowTime(parseInt(this.value));

        // replayView(parseInt(this.value));
      }
      timer.onchange = (e)=>{
        timer_range.value = Date.parse(e.target.value);
        replayView(parseInt(Date.parse(e.target.value)));
      }
      highlight.onclick = (e) =>{
        highlightReq();
      }
    })
  </script>
</body>

</html>