  <% include common/_head %>
  <% include common/_userInfo %>
  <% include common/_socket %>


<body>
  <% include common/_function %>
  <% include common/_fabric %>
  <!-- <% include common/_chart %> -->
  <script>
    Canvas.isDrawingMode = false;
    $f = function (id) {
      return document.getElementById(id);
    }
    window.addEventListener('load', function () {
      let text = $f('picker'),
        penSize = $f('penSize');
      select = $f('select');
      draw = $f('draw');
      clearButton = $f('clear-button');
      eraser = $f('eraser');
      pentab = $f('pentab');
      // selecttab = $f('selecttab');
      erasetab = $f('erastab');

      text.style.display = 'none';
      penSize.style.display = 'none';
      select.style.display = 'none';
      draw.style.display = 'none';
      clearButton.style.display = 'none';
      eraser.style.display = 'none';
      pentab.style.display = 'none';
      selecttab.style.display = 'none';
      erasetab.style.display = 'none';

    })
  </script>
</body>

</html>