<!DOCTYPE html>
<html lang="ja">
<html>

<head>
  <% include common/_head %>
  <!-- とりあえずコネクション周りは残しておく -->
  <script src='/socket.io/socket.io.js'></script>
  <script>
    var webconfig = './config/webconfig.json';
    var request = new XMLHttpRequest();
    request.open('GET',webconfig);
    request.responseType = 'json';
    request.send();
    var socket;
    request.onload = function () {
      var config = request.response;
      socket = io.connect(config.address + ':' + config.port);
      socket.on('connect', function (msg) {
        console.log('connect');
      });

      socket.on('teacher', function (data, oCoords,pageNum,identifier) {
        // console.log(identifier);
        console.log(data);
        make(data, oCoords,pageNum, identifier);
        // Canvas.add(data);
      });
    }
    // var socket = io.connect('http://192.168.178.107:4000');
    // var socket = io.connect('http://192.168.2.110:4000');
    // var socket = io.connect('ec2-13-59-114-31.us-east-2.compute.amazonaws.com:4000');
    // var socket = io.connect('192.168.11.64:4000');

    
  </script>

</head>

<body>
  <% include common/_function %>
  <% include common/_fabric %>
  <script>
    Canvas.isDrawingMode = false;
    $f = function (id) {
      return document.getElementById(id);
    }
    window.addEventListener('load', function () {
      var text = $f('picker'),
        penSize = $f('penSize');
      select = $f('select');
      draw = $f('draw');
      clearButton = $f('clear-button');
      eraser = $f('eraser');

      text.style.display = 'none';
      penSize.style.display = 'none';
      select.style.display = 'none';
      draw.style.display = 'none';
      clearButton.style.display = 'none';
      eraser.style.display = 'none';

    })
  </script>
</body>

</html>
<!DOCTYPE html>

</html>