<!DOCTYPE html>
<html lang="ja">
<html>

<head>
  <% include common/_head %>
  <% include common/_userInfo %>
  <!-- とりあえずコネクション周りは残しておく -->
  <script src='/socket.io/socket.io.js'></script>
  <script>
    var webconfig = './config/webconfig.json';
    var request = new XMLHttpRequest();
    request.open('GET',webconfig);
    request.responseType = 'json';
    request.send();
    var socket;
    request.onload = function () {
      var config = request.response;
      socket = io.connect(config.address + ':' + config.port);
      socket.on('connect', function (msg) {
        console.log('connect');
      });

      socket.on('limit_set_teacher',function(pageNum,text){
        console.log(text);
        make(pageNum,text);
      });

      socket.on('teacher', function (data, oCoords,pageNum,identifier,text) {
        // console.log(identifier);
        // console.log(data);
        console.log(text);
        // make(data, oCoords,pageNum, identifier,text);
        make(pageNum,text);
        // Canvas.add(data);
      });
    }
    function send(dist,limitVal){
      if(dist === 'limit'){
        socket.emit('limit',limitVal,pageNum);
      }
    }

    window.addEventListener('beforeunload',function(e){
        socket.emit('reload',getUserName());
    })
    
  </script>

</head>

<body>
  <% include common/_function %>
  <% include common/_fabric %>
  <script>
    Canvas.isDrawingMode = false;
    $f = function (id) {
      return document.getElementById(id);
    }
    window.addEventListener('load', function () {
      let text = $f('picker'),
        penSize = $f('penSize');
      select = $f('select');
      draw = $f('draw');
      clearButton = $f('clear-button');
      eraser = $f('eraser');
      pentab = $f('pentab');
      selecttab = $f('selecttab');
      erasetab = $f('erastab');

      text.style.display = 'none';
      penSize.style.display = 'none';
      select.style.display = 'none';
      draw.style.display = 'none';
      // clearButton.style.display = 'none';
      eraser.style.display = 'none';
      pentab.style.display = 'none';
      selecttab.style.display = 'none';
      erasetab.style.display = 'none';

    })
  </script>
</body>

</html>
<!DOCTYPE html>

</html>