<section class='container-fluid'>
    <div class='col-xs-8 col-sm-8 mx-auto'>

      <div class="canvas-wrapper" id='canvas-wrapper'>
        <canvas id="pdfCan"></canvas>
        <canvas id="draw-area"></canvas>
        <div id="text-layer"></div>
      </div>
    </div>
</section>

<!-- <script src='/js/canvasMain.js'></script> -->
<!-- <script src='/js/Main.js'></script> -->
<script src='/js/mainFab.js'></script>
<script src='/js/pdf.js'></script>