<section class='container-fluid'>
<div class='row'>
<div class='col-xs-12 col-sm-12 col-md-7 col-lg-7'>

<div class="canvas-wrapper">
    <canvas id="pdfCan"></canvas>
    <canvas id="draw-area"></canvas>
    <div id="text-layer"></div>
  </div>
</div>
</div>
</section>

<!-- <script src='/js/canvasMain.js'></script> -->
<!-- <script src='/js/Main.js'></script> -->
<script src='/js/mainFab.js'></script>
<script src='/js/pdf.js'></script>