<section class='container-fluid'>
    <div class='col-sm-6 col-md-8'>

<div class="canvas-wrapper" id='canvas-wrapper'>
    <canvas id="pdfCan" ></canvas>
    <canvas id="draw-area"></canvas>
    <div id="text-layer"></div>
  </div>
</div>
</div>
</section>

<!-- <script src='/js/canvasMain.js'></script> -->
<!-- <script src='/js/Main.js'></script> -->
<script type='module' src='/js/mainFab.js'></script>
<script type='module' src='/js/pdf.js'></script>
<script type='module' src='/js/teacher.js'></script>