<div class="canvas-wrapper">
    <canvas id="pdfCan"></canvas>
    <canvas id="draw-area"></canvas>
    <div id="text-layer"></div>
  </div>

<!-- <script src='/js/canvasMain.js'></script> -->
<!-- <script src='/js/Main.js'></script> -->
<script src='/js/mainFab.js'></script>
<script src='/js/pdf.js'></script>