<div id="header" class='header'>
    <input type="text" id="picker">
    <button id="penSize">ペンのサイズ</button>
    <input for="penSize" type="range" id="Penwidth" value="5" min="0" max="30">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
    <button id="select">選択</button>
    <button id="draw">ペン</button>
    <button id="clear-button">Clear</button>
    <button id="eraser">消しゴム</button>
    <!-- <textarea id="text"></textarea> -->
</div>

<script src='/js/buttonActionFab.js'></script>