<main id="header" class='header p-3'>
    <!-- mx-autoについて https://qiita.com/Fendo181/items/1f32cbbfa676766ae331 -->
    <div class='container-field col-sm-8 mx-auto'>
    <ul class='nav nav-tabs'>
        <li id='pentab' class="nav-item">
            <a id='draw' href='#penCon' class='btn btn-primary nav-link ' data-toggle='tab' >ペン</a>
        </li>
        <li id='selecttab' class="nav-item">
            <a id="select"  href='#selecttab' class='btn btn-primary nav-link' data-toggle='tab'>選択</a>
         </li>           
         <li id='erastab' class="nav-item">
            <a id="eraser" href='#erasertab' class='btn btn-primary nav-link' data-toggle='tab'>消しゴム</a>
        </li>
                <a id='prev' class='btn btn-primary nav-link' href='#'>Prev</a>
                <!-- <input type='text' id='pageMove'class='text-nowrap bd-highlight' ></textarea> -->
                <p type='text' id='pageMove'class='text-nowrap bd-highlight' ></p>
                <p id='pageDef' class='bd-highlight' disabled='disabled'></p>
                <a id='next' class='btn btn-primary nav-link' href='#'>Next</a>
        <div class='tab-pane active' id='div_limit'>
                <input type='text' value='' id='limit'>
                <input type='button'  value='制限' name='submit' onclick="setLimit()">
        </div>
    </ul>
    <div class='tab-content'>

        <div class='tab-pane ' id='penCon'>
            <input type="text" id="picker">
            <button id="penSize" class='btn btn-primary'>ペンのサイズ</button>
            <input for="penSize" type="range" id="Penwidth" value="5" min="0" max="30">
        </div>
        <div class='tab-pane' id='erasertab'>
            <button id="clear-button" class="btn btn-primary">Clear</button>
        </div>
    </div>

    </div>
</main>

<script>
    let setLimit = function(e){
        let limit = document.getElementById('limit');
        sendLimit(limit.value);
    }

    $(function () {
        $('tab').click(function () {
            $('tabContent').removeClass('active');
            $($(this).attr('href')).addClass('active');
            $('tab').removeClass('active');
            $(this).addClass('active');
        });
    });

    //ペンの変更を表示・非表示
    $(function () {
        $('#Penwidth').toggle();
        $('#penSize').click(function () {
            $('#Penwidth').toggle();
        });
    });

</script>

<script src='/js/buttonActionFab.js'></script>