<meta charset="UTF-8">
<title>PDF View</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width,minimum-scale=1.0">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>