<nav class="info_header">
    <ul>
        <% for (menuItem of menuItems){ %>
            <li><a href=<%= menuItem.link %>?id=<%= userName%>><%= menuItem.name %></a></li>
        <% } %>
    </ul>
</nav>