.header{
    // position: fixed;
    & input[type=text]{
        width: 2rem; 
        height: 2rem;
        font-size:1em;
    }

    & button{
        background-color: white;
        color: black;
        text-align: center;
    }
    
    ul{
        &.tab{
            list-style:  none;

            li{
                float: left;
                margin-right: 10px;
                padding: 10px;
                background-color: #f2f2f2;
                cursor: pointer;

                &:hover{
                    color: #FF0000;
                }

                &.active{
                    background-color: #999;
                    color:#fff;
                }
            }
        }
    }

    div{
        &.tabContent{
            clear: both;
            border: 1px solid #ccc;
            padding: 20px;
            width: 300px;
            display: none;
        }
        &.active{
            display: block;
        }
    }

}

.canvas-wrapper{
    position: relative;
    margin: 0;
    font-size: 0;
    & canvas{
        position: absolute;
        top: 0px;
        left: 0px;
        border: 1px solid #000000;
    }
}

.main-body{
    background-color: white;
}

/* Copyright 2014 Mozilla Foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1.0;

  .highlight {
    margin: -1px;
    padding: 1px;
  
    background-color: rgb(180, 0, 170);
    border-radius: 4px;
  }

  .highlight.begin {
    border-radius: 4px 0px 0px 4px;
  }

  .highlight.end {
    border-radius: 0px 4px 4px 0px;
  }

  .highlight.middle {
    border-radius: 0px;
  }

  .highlight.selected {
    background-color: rgb(0, 100, 0);
  }

  ::selection { background: rgb(0,0,255); }

  .endOfContent {
    display: block;
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    cursor: default;
    user-select: none;
  }

  .endOfContent.active {
    top: 0px;
  }

  > span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
  }
}

table{
  border: 1px solid #000000;
  table-layout: fixed;
  tr{
    canvas{
      border: 1px solid #000000;
    }
    td{
      word-wrap: break-word;
      width: 500px;

      input{
        display: none;
      }
    }
  }
}

.login {
  form{
    div{
      input[type="text"]{
        margin: 15px 0;
        border-radius: 20px;
      }
      button{
        font-size: large;
        border-radius: 20px;
      }
    }
  }
}

.upload{
  form{
    margin: 1rem;
    input{
      border-radius: 10px;
    }
    input[type="file"]{
      background: #099;
    }
  }
}

.info_header{
      background-color: orange;
      ul{
        overflow: hidden;
        margin: 0 auto;
        padding: 0 3%;
        width: 94%;
        max-width: 960px;
        list-style: none;

        li{
          position: relative;
          float: left;
          width: 20%;
          
          a{
            display: block;
            padding: 17px 5%;
            width: 90%;
            color: #fff;
            text-align: center;
            text-decoration: none;
          }
        }
      }
}