.header{
    // position: fixed;

    & button{
        background-color: white;
        color: black;
        text-align: center;
    }
}

.canvas-wrapper{
    position: relative;
    margin: 0;
    font-size: 0;
    & canvas{
        position: absolute;
        top: 0px;
        left: 0px;
        border: 1px solid #000000;
    }
}
